<form id="form" method="post">
  <!--<img src="English script.png" height=50/>-->
  <table>
    <tr>
      <td>
        <!--rows=20 cols=100 -->
        <textarea name="text" id="text" class="text" rows=20 cols=60 onkeypress="specialKeys(event)"
        ><%= @text %></textarea>
        <script>document.getElementById('text').focus();</script>
      </td>
      <td>

        <svg id="svg"
             xmlns="http://www.w3.org/2000/svg"
             width="300" height="200">
          <circle cx="100" cy="50" r="40" stroke="black" stroke-width="2" fill="red" id="circle"/>
          <circle r="40" stroke="black" stroke-width="2" fill="red" id="circle"/>
          <%= @svg %>
        </svg>
        <br/>
        <b><input style="height: 50px;width: 100px;background-color: #000099;color: #b0e0e6;" type="submit" value="RUN!"/></b><br/>
      </td>
    </tr>
  </table>
  <br/>
  <b class="blink" style="background: greenyellow;border: 1px groove #000b66;padding: 5px">
    RESULT: <%= @result %>
  </b>
  <br/>
  <br/>
  <script>
    <!-- src="tab-key.js"-->
      <%= @javascript %>
      //      var svg = document.getElementById("svg");
      //      var r = rect(100, 100, "blue");
      //      add(r);
      //      animate(r);
  </script>
</form>

<!--<form action="" method="post">-->
  <!--Examples:-->
  <!--<a href="javascript:copyExample()">what is 3 + 1</a>-->
  <!--<a href="?block=1">what is 3 + 3</a>-->
<!--</form>-->

<%#= render 'scripts/compact' %>
